<ion-menu contentId="main-content">

  
  <ion-row class="cor">

  </ion-row>

  <ion-row class="avatar">
    <ion-col>

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>

    </ion-col>
  </ion-row>

  <ion-content class="ion-padding">
   <p class="nome"> Olá, Nome </p>

    <br>

   <p class="menu"> Perfil </p>

   <p class="menu"> Meus Pedidos </p>
  </ion-content>
</ion-menu>

<ion-header>

  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-row>

        <ion-col size="1">
          <ion-buttons>
            <ion-menu-button color="dark"></ion-menu-button>
          </ion-buttons>
        </ion-col>

        <ion-col size="11">
            <ion-searchbar color="dark" shape="round" animated="true" placeholder="Buscar loja e produtos"></ion-searchbar>
        </ion-col>

          </ion-row>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

<p style="background-color: black;"> '' NOME DA LOJA ou FOTO sla '' </p>

  <ion-row style="margin-top: 50px">
    <ion-col style="text-align: center;">
      <img src="assets/icon/favicon.png">
    </ion-col>
  </ion-row>

  <div>

    <ion-row>
      <ion-col size="12" class="nome">
        <p> Nome do Produto </p>
      </ion-col>
  
      <ion-col size="12" class="preco">
        <p> R$ 1.000,00 </p> 
      </ion-col>
  
      <ion-col>
        <ion-button class="carrinho" shape="round"> Adicionar ao Carrinho </ion-button>
      </ion-col>

      <ion-accordion-group [multiple]="true" [value]="['first','second']">
        <ion-accordion value="first">
          <ion-item slot="header" color="dark">
            <ion-label>Descrição</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" style="background-color: rgb(0, 0, 0, 0.384);"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugit harum dolorum optio sunt reiciendis officia culpa numquam quod possimus. Harum repellendus numquam voluptas voluptates quisquam necessitatibus ea laudantium earum!</div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="dark">
            <ion-label>Avaliações</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" style="background-color: rgba(0, 0, 0, 0.384);" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita rerum libero explicabo rem sit, voluptate repellat fugiat aliquid officia, quaerat veritatis non ipsa inventore impedit amet necessitatibus accusamus magnam doloribus.</div>
        </ion-accordion>
      </ion-accordion-group>
      
    </ion-row>
  
   </div>

</ion-content>

