<ion-menu contentId="main-content">


  <ion-row class="cor">

  </ion-row>

  <ion-row class="avatar">
    <ion-col>

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>

    </ion-col>
  </ion-row>

  <ion-content class="ion-padding">
    <p class="nome"> Olá, Nome </p>

    <br>

    <p class="menu"> Perfil </p>

    <p class="menu"> Meus Pedidos </p>
  </ion-content>
</ion-menu>

<ion-header>

  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-row>

            <ion-col size="1">
              <ion-buttons>
                <ion-menu-button color="dark"></ion-menu-button>
              </ion-buttons>
            </ion-col>

            <ion-col size="11">
              <ion-searchbar color="dark" shape="round" animated="true"
                placeholder="Buscar loja e produtos"></ion-searchbar>
            </ion-col>

          </ion-row>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <br>

  <div class="ofertas">
    <ion-col class="ion-align-items-center">
      Ofertas
    </ion-col>
  </div>

  <br>

  <ion-row>
    <ion-col>
      <ion-card *ngFor="let produto of produtos; let ix = index" (click)="goProduto(produto)">
        <img src="assets/img/{{produto.codImg}}.jpg" alt="{{produto.nome}}" />
        <ion-card-header>
          <ion-card-title>{{produto.nome}}</ion-card-title>
          <ion-card-title color="danger">{{ formataValor(produto.valor) }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{produto.descricao}}
        </ion-card-content>
        <ion-card-content>
          <img src="assets/img/{{produto.loja.logo}}.jpg" alt="{{produto.loja.nome}}" />
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>





  <!-- <ion-row>
      <ion-col size="6" *ngFor="let produto of produtos; let ix = index" (click)="goProduto(produto)">
        <ion-row>
          <ion-col class="card-produto">
                        
            <ion-row>
              <ion-col size="12" class="img-produto ">
                <img [src]="pathImgs + produto.imagens[0]"/>
              </ion-col>
            </ion-row>
  
            <ion-row style="height: 45px;">
              <ion-col size="12" class="titulo">
                {{produto.nome}}
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="valor">
                {{ formataValor(produto.valor) }}
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="detalhe">
                <span class="botao-detalhes"> Detalhes </span>
              </ion-col>
            </ion-row>
  
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="cart"></ion-icon>
  </ion-fab-button>
</ion-fab>