<ion-header>
  <ion-toolbar>

    <ion-row class="ion-align-items-start header-line">
      <ion-col size="4" class="menu-icon">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-col>

      <ion-row class="logo">
        <ion-col size= "8" class="ion-align-items-center">
          <img src="assets/img/icone.png" width="250px" height="50px" class="logo">
        </ion-col>
      </ion-row>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p> MENU DE ADMINISTRADOR </p>

  <ion-row>
    <ion-col>
      <ion-button> Visualizar Funcionários </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-button> Cadastrar Funcionários </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button> Relatórios </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
       <ion-button> Editar informações da Loja </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-button> Ver perfil da Loja </ion-button>
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col>
      <ion-button> Adicionar Produtos </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
       <ion-button> Visualizar Produtos </ion-button>
    </ion-col>
  </ion-row> 

 

</ion-content>
