<ion-content>


  <ion-card
    style="height: 100%; display: flex; align-items: center; justify-content: center; --background:rgb(255, 255, 255);">
    <ion-card color="secondary">

      <ion-row>
        <ion-col style="text-align: center;">
          <p style="width:400px;"></p>
          <img src="assets/img/icone.png" height='60' width='160'>
          <p style="width:900px;"></p>
        </ion-col>
      </ion-row>


      <ion-card-header>

          <ion-input class = "input-field" label="    CPF ou CNPJ" type="number" placeholder=""></ion-input>

        <p style="width:900px;"></p>

          <ion-input class = "input-field" label="    Senha" type="password" value=""></ion-input>
          
      </ion-card-header>
      <p style="width:900px;"></p>

      <ion-card-content>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-button shape="round" style="--background:black">Entrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-card>


</ion-content>