<ion-header>
  <ion-toolbar color="primary">
    <ion-button shape = "round" style="--background:black" >Entrar como Lojista</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card color="tertiary">
    <ion-card-header>
      <img alt="Corinthians Bicampeao mundial" src="C:\Users\Unicv\Desktop\ionic\omni\src\assets\img\icone.png" />
      <ion-item>
        <ion-input color="tertiary" fill="solid" type="email" placeholder="Email"></ion-input>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>