<ion-menu contentId="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-title color="dark">Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<ion-header>

  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-row>

        <ion-col size="1">
          <ion-buttons>
            <ion-menu-button color="dark"></ion-menu-button>
          </ion-buttons>
        </ion-col>

        <ion-col size="11">
            <ion-searchbar color="dark" shape="round" animated="true" placeholder="Buscar loja e produtos"></ion-searchbar>
        </ion-col>

          </ion-row>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

<p> Meus pedidos </p>

<ion-row class="linha"> _</ion-row>

<br>

<ion-row>
  <ion-col class="card-produto">
                
    <ion-row>
      <ion-col size="6" class="img-produto">
        <img src="/assets/icon/favicon.png">
      </ion-col>
      <ion-col size="6">
        <p class="nome_produto"> Nome do Produto </p>
        <p class="preco"> R$ 1,00 </p>
        <p class="situacao"> Separando no estoque </p>
      </ion-col>
    </ion-row>

  </ion-col>
</ion-row>

<br>

<ion-row>
  <ion-col class="card-produto">
                
    <ion-row>
      <ion-col size="6" class="img-produto">
        <img src="/assets/icon/favicon.png">
      </ion-col>
      <ion-col size="6">
        <p class="nome_produto"> Nome do Produto </p>
        <p class="preco"> R$ 1,00 </p>
        <p class="situacao"> Separando no estoque </p>
      </ion-col>
    </ion-row>

  </ion-col>
</ion-row>

<br>

<ion-row>
  <ion-col class="card-produto">
                
    <ion-row>
      <ion-col size="6" class="img-produto">
        <img src="/assets/icon/favicon.png">
      </ion-col>
      <ion-col size="6">
        <p class="nome_produto"> Nome do Produto </p>
        <p class="preco"> R$ 1,00 </p>
        <p class="situacao"> Separando no estoque </p>
      </ion-col>
    </ion-row>

  </ion-col>
</ion-row>


<ion-row>
  <ion-col class="botoes">
    <ion-button class="comprando" shape="round"> Continuar comprando </ion-button>  

    <ion-button class="pagar" shape="round"> Ir para pagamento </ion-button> 
  </ion-col>
</ion-row>

</ion-content>