<ion-header>
    <ion-toolbar>
  
      <ion-row class="ion-align-items-start header-line">
        <ion-col size="1" class="menu-icon">
          <ion-icon color="dark" name="reorder-three-outline" style="padding-top: 6px" size="large"></ion-icon>
        </ion-col>

        <ion-col>
            <ion-searchbar size="11" color="dark" shape="round" animated="true" placeholder="Buscar loja e produtos"></ion-searchbar>
        </ion-col>
      </ion-row>
    
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
  <ion-row class="wrapper">
    
    <ion-col class="ion-activatable ripple-parent circle">
      </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

    <ion-col class="ion-activatable ripple-parent circle">
    </ion-col>

  </ion-row>

<ion-row class="linha"> _</ion-row>

<div class="ofertas" style="padding-top: 5px;">
  <ion-col class="ion-align-items-center">
    Ofertas
  </ion-col>
</div>

  <br>

    <ion-row>
      <ion-col size="6" *ngFor="let produto of produtos; let ix = index" [hidden]="!produto.visibled" (click)="goProduto(produto)">
        <ion-row>
          <ion-col class="card-produto">
                        
            <ion-row>
              <ion-col size="12" class="img-produto ">
                <img [src]="pathImgs + produto.imagens[0]"/>
              </ion-col>
            </ion-row>
  
            <ion-row style="height: 45px;">
              <ion-col size="12" class="titulo">
                {{produto.nome}}
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="valor">
                {{ formataValor(produto.valor) }}
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col size="12" class="detalhe">
                <span class="botao-detalhes"> Detalhes </span>
              </ion-col>
            </ion-row>
  
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

</ion-content>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>  