#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.input-field {
  background: rgb(66, 66, 66);
  border: solid 0px rgb(88, 88, 88);
  margin-bottom: 16px;
  height: 50px;
  border-radius: 20px;
  padding-left: 16px;
}

.ion-content-home{
  --ion-background-color:rgb(255, 255, 255);
}
.ion-search-home{
  background-color: white !important;

}
ion-toolbar {
  --background: #353535;
  --color: white;

  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
ion-searchbar.custom {
  --background: #d3d3d3;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  
  --border-radius: 15px;
}